@import "base/variables";
@import "base/mixins";
* {
	font-family: "", sans-serif;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}

.clock {
	padding: 100px;

	&__wrapper {
		width: 750px;
		height: 750px;
		border-radius: 100%;
		margin: 0 auto;
		position: relative;
		z-index: -10;
		background: url("../img/часы.png") no-repeat center center/cover;
		&:after {
			content: "";
			width: 40px;
			height: 40px;
			border-radius: 100%;
			background-color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.minutes-container,
	.hours-container,
	.seconds-container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.hours {
		width: 20px;
		height: 160px;
		background-color: #000;
		position: absolute;
		top: 29%;
		left: 48.75%;
		transform-origin: 50% 100%;
		animation: rotate 43200s infinite linear;
	}
	.minutes {
		width: 16px;
		height: 319px;
		background: #000;
		left: 49%;
		position: absolute;
		top: 7.5%;
		transform-origin: 50% 100%;
		animation: rotate 3600s infinite steps(60);
	}
	.seconds {
		background: red;
		width: 8px;
		height: 360px;
		top: 14%;
		left: 49.5%;
		position: absolute;
		transform-origin: 50% 75%;
		z-index: 8;
		animation: rotate 60s infinite steps(60);
	}

		// @keyframes rotate {
		// 	from {
		// 		transform: rotate(0deg);
		// 	}
		// 	to {
		// 		transform: rotate(360deg);
		// 	}
		// }
}
